<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 메인</title>
</head>
<body>
  <h1>블로그 메인</h1>
  <input type="button" value="포스트 작성" onClick="location.href='/posts'">
  
  <input type="button" value="로그아웃" onClick="location.href='/users/logout'">
</body>
</html>

