<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>
<body>
  <div>
    <input type="text" placeholder="이메일 입력">
    <input type="text" placeholder="비밀번호 입력">
    
    <button>로그인</button>
  </div>
  <div>
    <button onclick="location.href='login.html'">구글 계정으로 로그인</button>
    <button onclick="location.href='login.html'">카카오 계정으로 로그인</button>
  </div>
  
</body>
</html>